@import url("photographer.css");

body {
  font-family: "DM Sans", sans-serif;
}
a {
  text-decoration: none;
}

/* Header */
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 6.9vw 0;
  height: 8vw;
}
#header h1 {
  color: #901c1c;
  font-size: 2.5vw;
  font-weight: 400;
}
#header .logo {
  height: 3.4vw;
}

/* Section photographes */
.photographer-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4vw;
  padding: 2vw 0 2vw;
}
.photographer-section article {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Portrait de chaque photographe */
.portrait {
  border-radius: 50%;
  width: 13vw;
  height: 13vw;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}
.photographer-section article a {
  width: 21vw;
  height: 17vw;
  text-align: center;
}
.photographer-section article a .name {
  margin-top: 1vw;
  font-size: 2.5vw;
  font-weight: 400;
}
.name {
  color: #d3573c;
}
.photographer-section article .location {
  margin-top: 1vw;
  margin-bottom: 0;
  font-size: 1.3vw;
  font-weight: 400;
}
.location {
  color: #901c1c;
}
.photographer-section article .tagline {
  margin: 0.2vw auto;
  font-size: 0.8vw;
  font-weight: 400;
}
.photographer-section article .price {
  margin: 0.2vw auto;
  font-size: 0.75vw;
  font-weight: 400;
}
.price {
  color: #525252;
}
